body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    font-family: Arial, sans-serif;
    max-width: 500px;
    background-color: #555A60;
    border-radius: 15px;
    overflow: hidden;
}

#display {
    width: 450px;
    padding: 90px 0px 25px 0px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: #555A60;
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: hsl(213, 6%, 35%);
    color: white;
}

.btn-operations {
    background-color: hsl(40, 4%, 43%);
    color: #F4AB41;
}

.equal{
    grid-column: span 2;
    width: 220px;
}

#ac {
    color: #fd9801;
    
}

button:hover {
    background-color: hsl(213, 6%, 45%);
}

button:active {
    background-color: hsl(213, 6%, 55%);
}

.btn-operations:hover {
    background-color: hsl(36, 89%, 71%);
}

.btn-operations:active {
    background-color: hsl(36, 89%, 81%);
}

.symbol {
    padding-top: 7px;
}
